body {
  background: #ff4000;
  font-style: normal;
  font-variant: small-caps;
  font-stretch: semi-expanded;
}

.centered{
width: 1200px;
margin: auto;
}

.first-name {
  color: #faaa8d;
}

.notes-first {
  color: #520e0e;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ec0909;
}

#notes {
  color: #ffffff;
}

#notes-szkolenie {
  color: #ffffff;
}

.navigate {
  color: #000000;
  background-color: lightpink;
}

.inside-link {
  color: #a5be00;
}
