body{
    background: #FF4000;
    font-style: normal;
    font-variant: small-caps;
    font-stretch: semi-expanded;
}

.first-name{
    color: #FAAA8D;
}

.notes-first{
    color: #520e0e
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

#notes{
    color: #ffffff;
}

#notes-szkolenie{
    color: #ffffff
}

.navigate{
    color: #000000;
    background-color: lightpink;
}

.inside-link{
    color: #A5BE00;
}