.article{
 
}

.article__content{
}

.article__content--lesson{
  
}

.article__content--text{
  
}

.article__content--header{

}

.article__head{

}

.article__more{

}

.article__more--header{

}

.article__more--content{

}

.article__navigation{

}

.bottom{
font-style: italic;
}

.bottom__link{

}


.centered{
  width: 70%;
  margin: auto;
  padding-top: 30px;
  color: #4C86A8;
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;

}

.navigation{
  position: relative;
  background-color: #B4DC7F;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  
}

.navigation__link{
  color: #477890;
  background-color: #EAEFBD;
  padding: 0px 30px; 
  border-style: 20px solid;
  border-radius: 30px;
  border-color: #EAEFBD;
  text-align: center;
  margin: 30px;
  text-decoration: white;

}

.navigation__link--homepage{
  color:rgb(124, 36, 48);
}

.top{

}

.top__image{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top__name{
  
}